:root{
    --color-primary: #425749;
    --color-primary-2: #C23C5A;
    --color-secondary: #D5A18E;
    --color-accent: #DEC3BE;
    --color-success: #758B7C;
    --color-background: #FFFFFF;
    --color-text: #090B0C;
    --site-width: 800px;
}

.dark-header{
    height: 70px;
    background-color: var(--color-primary);
    color: var(--color-background);
    width: 100%;
    /* left: 50%;
    transform: translateX(-50%); */
    padding: 8px 16px;
    position: fixed;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--site-width);
    justify-content: center;
    margin: 0 auto;
}
html{
    font-family: sans-serif;
}
*{
    font-family: sans-serif;
    font-size: 16px;
}

.main-body{
    padding-top: 30px;
    max-width: var(--site-width);
    align-content: center;
    margin: 0 auto;   
    height: 100%;
}

.body-content{
    z-index: -1;
    position: relative;
    justify-content: center;
    /* top:70px; */
    /* display: flex; */
    margin:70px auto 0 auto;   
    /* margin: 0 auto;    */
}

nav{
    position: relative;
    margin: 0 auto;
}

footer{
    padding: 20px;
    background-color: var(--color-primary);
    color: var(--color-background);
    width: 100%;
    margin: 0 auto;
}

h3{
    text-align: center;
    font-weight: 1400;
    color: var(--color-primary-2);

}
h1{
    font-size: 36px!important;
    font-weight: 700!important;
    color: var(--color-primary);
}

h2{
    font-size: 24px!important;
    font-weight: 700!important;
    color: var(--color-primary);
}

.header-navlink{
    color: var(--color-background); ;
    font-weight: 800;
}
.header-navlink:hover{
    color: var(--color-secondary);
    font-size: 19px;
    font-weight: 800;
}
.bi{
    display: inline-block;
    content: "";
  }

.social-media{
    padding: 0px;
}
.social-media-icon{
    margin: 10px;
    width: 20px;
    height: 20px;
}
.img__wrap{
    margin: 10px;
    display: flex;
}
.img__description{
    position: relative;
    top: 10px;
    visibility: visible;
    color: #090b0c ;
}

.img__wrap:hover{
    transform: scale(1.02);
}
.footer-text{
    font-family: sans-serif;
    text-align: center;
    color: #dce6ea;
}

.flex{
    display: flex;
    gap: 2%;
}

.two_boxs_left{
    width: 73%;
}
.two_boxs_right{
    width: 25%;
}   

.section{
    margin-bottom: 30px;
}
.flex-name{
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
}

.about_pic{
    width: 100%;
    order: 1;
    padding: 10px;
}

.about_text{
    width: 100%;
    order: 2;
    padding-left: 5px;
    padding-top: 0px;
    color: #250014;
    font-size: 20px;
    text-indent: 0px;
    text-align: justify;
    
}

.about_img{
    width: 100%;
    /* transform: scale(0.3); */
    /* border-radius: 10px; */
}


.exp_content{
    display: flex;
}
hr{
    color: #cfd8dc;
    background-color: #250014;
    border-top: 4px solid #250014;
}

.exp_li{
    color: #250014;
    font-weight: 800;
}

.exp_li p{
    font-weight: 100;
    font-size: 16px;
    color: #3b2430;

}

.footer_email{
    color: inherit;
    text-decoration: underline;
}

.lifestyle{
    padding: 30px;
    padding-bottom: 0px;
    width: 90%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: left;    
  }
table td{
    color: #3b2430;
    /* background-color: #fff1f9; */
}

.projects{
    padding: 30px;
    padding-bottom: 0px;
    width: 90%;
}

.projects th{
    text-align: center;
    color: #250014;
    border: 2px solid black;
}

.high{
    border-bottom: 3px solid black;
}

.last{
    border-right: 3px solid black;
}



/* -------TIMELINE------- */
.history-tl-container{
  width:100%;
  display:block;
  position:relative;
}
.history-tl-container ul.tl{
    margin:20px 0;
    padding:0;
    display:inline-block;

}
.history-tl-container ul.tl li{
    list-style: none;
    margin:auto;
    margin-left:35%;
    width: 100%;
    min-height:50px;
    /*background: rgba(255,255,0,0.1);*/
    border-left:1px dashed var(--color-secondary);
    padding:0 0 30px 30px;
    position:relative;
}
.history-tl-container ul.tl li:last-child{ border-left:0;}
.history-tl-container ul.tl li::before{
    position: absolute;
    left: -10px;
    top: 0px;
    content: " ";
    border: 8px solid rgba(255, 255, 255, 0.7);
    border-radius: 500%;
    background: var(--color-primary-2);
    height: 20px;
    width: 20px;
    transition: all 500ms ease-in-out;

}
.history-tl-container ul.tl li:hover::before{
    border-color:  var(--color-primary-2);
    transition: all 1000ms ease-in-out;
}
ul.tl li .item-title{
}
ul.tl li .item-detail{
    color:rgba(0,0,0,0.5);
    font-size:14px;
}
ul.tl li .timestamp{
    color: #8D8D8D;
    position: absolute;
    width:35%;
    left: -45%;
    text-align: right;
    /* font-size: 12px; */
}


/* ---- Footnote ---- */
.contact-item{
    width: 40px;
    margin: 20px;
}

.contact-item img{
    width: 100%;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--site-width);
    justify-content: center;
    margin: 0 auto;
}